.book-catalog {
    padding: 1rem;
    max-width: 80rem;
    margin: 0 auto;
}


.book-catalog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.catalog-button {
    background-color: #564787;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}